@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" rel="stylesheet');

:root {
    --white: #FFFFFF;
    --gray: #808080;
    --lightblue: #ADD8E6;
    --maxwidth: 1200px;
    --rootsize: 20px
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.main {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
}

header {
    display: flex;
    padding: 1rem;
    border-top: .1rem solid var(--gray);
    border-bottom: .1rem solid var(--gray);
    border-left: .1rem solid var(--gray);
    border-right: .1rem solid var(--gray);
    
}