@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" rel="stylesheet');

:root {
    --white: #FFFFFF;
    --gray: #808080;
    --lightgray: #D3D3D3;
    --lightblue: #ADD8E6;
    --black: #000000;
    --maxwidth: 1200px;
    --rootsize: 20px
}

body {
    background-color: var(--white);
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
}

header {
    display: flex;
    padding: 1rem;
    border-top: .1rem solid var(--gray);
    border-bottom: .1rem solid var(--gray);
    border-left: .1rem solid var(--gray);
    border-right: .1rem solid var(--gray);
    font-family: 'Roboto', sans-serif;
}

article {
    display: inline-block;
    padding-top: 60px;
}

.categories {
    width: 100%;
    display: flex;
    padding-top: 60px;
    padding: .1rem .1rem;
}

main article h2 {
    background-color: var(--gray);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--black);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#undercategories {
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    position: absolute;
    border: .1rem solid var(--gray)
}



